

html, body {
  height: 100%;
}

#container {
  position: absolute;
  top: 0px;
  right: 0px;
  border: 1px solid black;
  width: 310px;
  padding-bottom: 10px;
  height: auto;
}

#header {
background-color: yellow;
  font-size:200%;
}

.navbar {
border-radius:0px;
  text-align: center;
}

h4 { 
  margin-bottom:0px;
}

#close {
  float: right !important;
}

.container-form { 
margin-top:15px;
 text-align: center;
}

textarea { 
height: 8vh;
}
 
 

/*
body {
  background: #111111;
  font-family: "metropolis-regular", sans-serif;
  font-size: 1.7rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.765;
  color: #555555;
  margin: 0;
  padding: 0;
}

*/

